<header class="home-bg" id="home">
    <div class="container">
        <div class="row">
            <div class="col s12 bg-text">
                <h1>Fabolous.Classy.Elegant</h1>
                <br>
                <div class="col s12 m6 center-column center">
                    <%= link_to "Make an Appointment", new_contact_path, class: "waves-effect waves-light btn-large appt-btn"%>
                </div>
            </div>

            <div class="col s12 bg-text-mobile">
                <h1>Fabolous.</h1><h1>Classy.</h1><h1>Elegant</h1>
                <br>
                <div class="col s12 m6 center-column center">
                    <a class="waves-effect waves-light btn-large appt-btn">Make an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</header>