<header class="home-bg" id="home">
  <div class="container">
    <div class="row">
      <div class="col s12 bg-text">
          <h1>Dirty Windows?</h1>
          <h5>LET US FIX THAT!</h5>
          <h5>MAKE THE CLEAREST CHOICE.</h5>
          <br>
          <div class="col s3 hr-line">
            <hr>
          </div>
      </div>
    </div>
  </div>
</header>

<%= render :partial => "welcome/sections/services"%>
<%= render :partial => "welcome/sections/about"%>
<%= render :partial => "welcome/sections/testimonials"%>
<%= render :partial => "welcome/sections/contact"%>