<header>
  <div class="container">
    <div class="intro-text">
        <div class="col-md-6 center-block">
          <img class="img-responsive" src="/assets/clearchoice_logo2.png" alt="Clear Choice Window Cleaning">
        </div>
        <div class="col-sm-1 welcome center-block">
          <a href="#about"><button class="btn btn-lg">Welcome</button></a>
        </div>
    </div>
  </div>
</header>


<!-- ABOUT SECTION -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 id="about" class="heading">About</h1>
      <hr>
    </div>
  </div>

  <div class="container">
    <div class="row mgn-bottom">
      <div class="col-md-12">
        <div class="col-md-6 center-block">
          <p class="center">Cleaning glass is our specialty. We make sure your windows are left sparkly clean. Our window cleaning services are available for commercial and residential jobs. We also offer other services such as, Office, House, and Gutter cleaning. Our professional cleaning crew are hard workers who are determined to keep every customer satisfied.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SERVICES SECTION -->

<div id="services" class="container-fluid srvcBG">
  <div class="row">
    <div class="col-md-12">
      <h1 class="heading">Services</h1>
      <hr class="two">
    </div>

    <div class="col-md-12 windows">
      <div class="col-md-5 ">
        <h1 class="windows-txt">Window Cleaning</h1>
        <p class="windows-txt">Dirty windows? No worries we got you cover. We have the most accurate and best technique and equipment to clean your windows. Clear Choice Services will leave your windows cleaner than ever!
        </p>
      </div>
    </div>

    <div class="col-md-12 office">
      <div class="col-md-5 col-md-offset-7">
        <h1 class="white-txt">Office Cleaning</h1>
        <p class="white-txt">Tired of not having time or energy to clean your office business? Our office cleaning crew is the best out there. For us there is no such thing of a deep cleaning. Each cleaning is considered as a deep cleaning. Our hard working crew take each job seriously.We guarantee you that you will not regret it. Call us today!</p>
      </div>
    </div>

    <div class="col-md-12 house">
      <div class="col-md-5 ">
        <h1 class="dark-txt">House Cleaning</h1>
        <p class="dark-txt"> We all know that everyone has a busy life. So many responsibilities and hardly any time to take care of house chores. Keeping your house clean is important for you and your family for many reasons. Thats why we are here to clean your house regulary to keep it in good shape and with a new look.
        </p>
      </div>
    </div>

    <div class="col-md-12 gutters">
      <div class="col-md-5 col-md-offset-7 ">
        <h1 class="white-txt">Gutter Cleaning</h1>
        <p class="white-txt"> Cleaning your gutters regularly is a protection for your home and family. Gutters play an important role in channelling the rain thatcollects on your roof away from your siding, windows, and foundation. However, pine needles and other debris can accumulate impeding the proper function of gutters. This can present a potential dangeras clogged gutters are a fire hazard in dry conditions and can potentially cause flooded basements, cracked foundations, and rotten wood during cold, rainy weather. Clear Choice is fully equipped to offer gutter maintenance plans that can be scheduled at your convenience.
        </p>
      </div>
    </div>

  </div>
</div>