<div class="container-fluid">
  <div class="row mgn-top">
    <div class="col-md-12 contactbg">
      <div class="col-md-6 col-form-head center-block" style="margin-top: 10%; padding-bottom: 300px;">
        <h1 class="cH center">Thank you for your message!</h1>
        <h4 class="cH center">We'll get back to you soon!</h4>
      </div>
    </div>
  </div>
</div>