<div class="container sections">
  <div class="row">
    <div class="col s12 title-dark">
      <div class="col s2 hr-line">
        <hr>
      </div>
      <br>
      <h1>All Cities</h1>

      <h5 class="left">Total Clients =
        <%= City.count%>
      </h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 l12">
      <% @cities.each do |city| %>
        <div class="city col s12 m6 l4">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title"><%= link_to city.name, city %></span>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>