<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-2 center-block mgntop">
        <h3><%=@city.name%></h3>
        <%= link_to "Edit", edit_city_path(@city), class: "btn" %>
        <%= link_to "Delete", city_path(@city), method: :delete, data: {confirm: "Estas seguro que quieres borrar este cliente?"}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>