// Place all the styles related to the clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$blue: #00adef;
$dark: #4E4E4E;
$orange: #ff9600;

.border{
  border-right: 1px solid $blue;
  padding-bottom: 5em;
}


.clients a {
  position: relative;
  color: $blue;
  text-decoration: none;
  
}

.clients a:hover {
  color: $blue;
}

.clients a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $orange;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.clients a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}