// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn-delete{
  background: rgb(215, 37, 37);
  padding: 10px 15px;
  color: #fff;
}

.btn-delete:hover{
  background: rgb(215, 37, 37);
  padding: 10px 15px;
  color: #fff;
}
