@media (max-width: 768px){
  .navbar-brand img {
    max-width: 20%;
  }
  .navbar-brand{
    margin-top: -10px;
  }
}

@media (max-width: 448px){
  .navbar-brand img {
    max-width: 15%;
  }
  .navbar-brand{
    margin-top: -50px;
  }
}