@import "modules/all";

nav.cc_nav{
  background-color: rgba(0, 0, 0, 0.3);
  height: 75px;
  .nav-wrapper{
    a.brand-logo img{
      max-width: 250px;
    }
  }
}

// header {
//   background-image: url('/assets/header-bg1.jpg');
//   background-repeat: none;
//   background-attachment: scroll;
//   background-position: center center;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   background-size: cover;
//   -o-background-size: cover;
//   // text-align: center;
//   color: white;
// }
// header .intro-text {
//   padding-top: 100px;
//   padding-bottom: 50px;
// }

// @media (min-width: 768px) {
//   header .intro-text {
//     padding-top: 200px;
//     padding-bottom: 200px;
//   }
// }
