<div id="about" class="row" style="margin-bottom: 0px;">
  <div class="col s12 no-padding">
    <div class="col s12 m12 l6 no-padding about-bg">
      
    </div>
    <div class="col s12 m12 l6 title-white about-description">
      <div class="container">
        <div class="col s2 hr-line">
          <hr>
        </div>
        <br>
        <h1>About Us</h1>

        <br>
        <br>
        <p>
          Clear Choice is a licensed and insured family owned business in Middle TN. We have been serving our wonderful community for over 15 years. Our employees are well trained in all of our equipment and practices. With experience in a variety of settings, we are confident Clear Choice can suit your commercial or residential needs.
        </p>
        <p>
          Our services include window cleaning, business office cleaning, and pressure washing. Cleaning is our expertise!  Take a look at what our customers have to say!
        </p> 
      </div>
    </div>
  </div>
</div>