<div id="about" class="row">
  me<div class="col s12 no-padding">
    <div class="col s12 m12 l5 no-padding about-bg">

    </div>
    <div class="col s12 m12 l7 title-white about-description">
      <div class="col s2 hr-line">
        <hr>
      </div>
      <br>
      <h1>About Us</h1>

      <br>
      <br>
      <p>Clear Choice is Licensed and Insured and is a family owned business in Middle TN. We have been serving our wonderful community for over 15 years. As a professional company, our employees are well trained in all of our equipment and to work hard. In addition, our crew is experienced working on all types of homes and buildings, so we can confidently handle any of your needs. 
         Cleaning is our expertise. We offer various services such as window cleaning, business office, and pressure wash cleaning. We make sure everything is sparkly clean. Rest assured; we are determined to keep every customer satisfied. Just read below what some of our loyal customers have to say.
      </p> 
    </div>
  </div>
</div>