<div class="row">
  <div class="col s12 l12 home-footer">
    <div class="col s12 m4 l4">
      <p>Call Us Today! <a href="tel:6154186786">(615) 418-6786</a> or <a href="tel:61533769981">(615) 337-6981</a></p>
    </div>
    <div class="col s12 m8 l8">
      <p>Window Cleaning, Office Cleaning, and Pressure Wash service in the Greater Nashville, Area.</p>
    </div>
  </div>
</div>