<div id="services" class="container sections">
  <div class="row">
    <div class="col s12 title-dark">
      <div class="col s2 hr-line">
        <hr>
      </div>
      <br>
      <h1>Services</h1>
    </div>
    <div class="col s12 l12">
      <div class="col s12 l3 request-quote">
        <p>Give us a call at <a href="tel:6154186786">615-418-6786</a>, <a href="tel:6153376981">615-337-6981</a> to get a free quote or fill the form below.</p>
      </div>

      <!-- Window Cleaning Service -->
      <div id="window_cleaning" class="col s12 l8 offset-m1 offset-l1 service">
        <div class="col s12 l12 service-title">
          <h4>Window Cleaning</h4>
          <div class="col s4 l2 hr-line">
            <hr>   
          </div>
        </div>
        <!-- Commercial Window Cleaning -->
        <div class="col s12 m6 l6 ind_service">
          <div class="col s3 m3 l3 icon_div">
            <img class="responsive-img" src="assets/icons/commercial_icon.png" alt="Commercial Window Cleaning">
          </div>
          <div class="col s12 l12 service_description">
            <h5>Commercial</h5>
            <p>
              Our window cleaning team and high quality equipment will make sure your business is always spotless and a step ahead of the competition. 
            </p>
          </div>
        </div>
        <!-- Residential Window Cleaning -->
        <div class="col s12 m6 l6 ind_service">
          <div class="col s3 m3 l3 icon_div">
            <img class="responsive-img" src="assets/icons/residential_icon.png" alt="Residential Window Cleaning">
          </div>
          <div class="col s12 l12 service_description">
            <h5>Residential</h5>
            <p>
              We clean houses year round. Especially around the holidays and Season changes to keep houses looking clean all year long.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>