<div id="testimonials" class="row">
  <div class="container sections">
    <div class="col s12 l12">
      <div class="col s12 no-padding title-white">
        <div class="col s2 hr-line">
          <hr>
        </div>
        <br>
        <h1>Testimonials</h1>
      </div>
      <div class="all-testimonials col s12 l12">
        <div class="testimonial-card col s12 m5">
          <p>
            <span class="quotations">"</span>Just an amazing service from Clear Choice. For the past 12 years they have been just great! The best out there.<span class="quotations">"</span>
          </p>
          <p><b>- Satisfied Customer</b></p>
        </div>

        <div class="testimonial-card col s12 m5 offset-m1">
          <p>
            <span class="quotations">"</span>They do an outstanding job cleaning my office, office windows and my home.<span class="quotations">"</span>
          </p>
          <p><b>- Satisfied Customer</b></p>
        </div>

        <div class="testimonial-card col s12 m5">
          <p>
            <span class="quotations">"</span>Twice a year they clean my house windows and always a great job<span class="quotations">"</span>
          </p>
          <p><b>- Satisfied Customer</b></p>
        </div>

        <div class="testimonial-card col s12 m5 offset-m1">
          <p>
            <span class="quotations">"</span>They are very professional at what they do and trustworthy.<span class="quotations">"</span>
          </p>
          <p><b>- Satisfied Customer</b></p>
        </div>
      </div>
    </div>
  </div>
</div>